@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ff0000; /* Red font color */
  background: #ffffff; /* White background */
  font-family: 'Poppins', sans-serif; /* Updated font family */
}